<?xml version="1.0"?>
<config>
    <modules>
        <Rdx_GDPR>
            <version>1.1.4</version>
        </Rdx_GDPR>
    </modules>
    <frontend>
        <layout>
            <updates>
                <rdx_gdpr>
                    <file>rdx/gdpr.xml</file>
                </rdx_gdpr>
            </updates>
        </layout>
        <routers>
            <rdx_gdpr>
                <use>standard</use>
                <args>
                    <module>Rdx_GDPR</module>
                    <frontName>rdx_gdpr</frontName>
                </args>
            </rdx_gdpr>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rdx_gdpr before="Mage_Adminhtml">Rdx_GDPR_Adminhtml</rdx_gdpr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <rdx_gdpr>
                <class>Rdx_GDPR_Block</class>
            </rdx_gdpr>
        </blocks>
        <models>
            <rdx_gdpr>
                <class>Rdx_GDPR_Model</class>
            </rdx_gdpr>
        </models>
        <helpers>
            <rdx_gdpr>
                <class>Rdx_GDPR_Helper</class>
            </rdx_gdpr>
        </helpers>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <rdx_gdpr_model_resource_observer>
                        <class>Rdx_GDPR_Model_Observer</class>
                        <method>addAnonymiseButton</method>
                    </rdx_gdpr_model_resource_observer>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <template>
            <email>
                <rdx_gdpr_confirm translate="label" module="rdx_gdpr">
                    <label>Rdx GDPR Confirm</label>
                    <file>rdx/gdpr/confirm.html</file>
                    <type>html</type>
                </rdx_gdpr_confirm>
                <rdx_gdpr_success translate="label" module="rdx_gdpr">
                    <label>Rdx GDPR Success</label>
                    <file>rdx/gdpr/success.html</file>
                    <type>html</type>
                </rdx_gdpr_success>
            </email>
        </template>
    </global>
    <default>
        <rdx_gdpr>
            <options>
                <enabled>1</enabled>
            </options>
            <configuration>
                <cms_page>home</cms_page>
            </configuration>
        </rdx_gdpr>
    </default>
</config>